# Python / Conda
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter / Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Conda environments 
environment.yml  # ← optional


# Data files (big/sensitif)
# data/raw/*.csv
data/raw/*.zip
data/processed/*
!data/raw/marketing_AB.csv   # kalau lo mau allow dataset kecil ini, uncomment

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code settings (personal)
.vscode/*
!.vscode/settings.json   # kalau lo mau share settings.json, keep ini
!.vscode/extensions.json

# Logs & temp
*.log
tmp/
temp/